.lead-banner {
  float: left;
  width: 100%;
  position: relative;
  color: #ffffff;
  text-align: right;
}

h1, h2 {
  font-size: 24px;
  color: #032f3e; }

.lead-banner img {
  width: 100%;
  float:left;
  height:550px;
}

.lead-banner .banner-content {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}

.lead-banner h1 {
  margin: 8% 0 0 0;
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.lead-banner h2 {
  font-weight: normal;
  color: #ffffff;
  margin: 0 0 5% 0;
}

.banner-button {
  width: 10%;
  padding: 1% 2%;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-decoration: none;
}

.button-shape{
  display: block;
  margin: 30px auto;
	width: 1px;
	height: 1px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #ffffff;
}
@media screen and (max-width: 700px) {
  .lead-banner img {
    height:320px;
  }
}