.banner {
  float: left;
  width: 100%;
  position: relative;
  color: #ffffff;
  text-align: right;
}

.head-title {
  display: block;
  font-size: 28px;
}

.banner img {
  width: 100%;
  float:left;
  height:550px;
}

.banner .banner-content {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}

.banner h1 {
  margin: 8% 0 0 0;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.banner-button {
  margin: 35px auto;
  width: 10%;
  padding: 1% 2%;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-decoration: none;
}

.button-shape{
  display: block;
  margin: 45px auto;
	width: 1px;
	height: 1px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #ffffff;
}
@media screen and (max-width: 700px) {
  .banner img {
    height:320px;
  }
}
