.portfolio{
  width:100%;
  float: left;
}

.portfolio-text{
  text-align: center;
}

.portfolio-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.portfolio-picture{
  padding: 0;
  float: left;
  width:100%;
  height: 300px;
}

.portfolio-item {
  width: 33.33%;
  display: inline;
  position: relative;
  float: left;
}

.text-content {
  width:100%;
  height: 100%;
  position: absolute;
  display: none;
}

.portfolio-item :hover > .text-content{
  color:#ffffff;
  display: block;
  background-color: #111111;
  opacity: 0.5;
}
