.portfolio{
  width:100%;
  float: left;
}

.portfolio-picture{
  padding: 0;
  float: left;
  width:100%;
  height: 250px;
}

.portfolio-text{
  text-align: center;
}

.portfolio-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.portfolio-items li {
  width: 33.33%;
  display: inline;
  position: relative;
  float: left;
}

.text-content {
  cursor: pointer;
  width:100%;
  left: 0;
  position: absolute;
  top: 0;
  height:100%;
  display: none;
}

.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.image-overlay:hover {
  opacity: 0.5;
}

.image-overlay:hover > .text-content{
  color:#ffffff;
  display: block;
  background-color: #111111;
  opacity: 0.6;
}
