@import "main-nav.css";
@import "banner.css";
@import "about.css";
@import "skills.css";
@import "portfolio.css";
@import "contact.css";
@import "footer.css";


body{
  background-color: #ffffff;
  font-family: Roboto-Black;
}

h1, h2, h3 ,h4, h6{
  text-align: center;
  font-size: 30px;
  color: #808080;
  line-height: 39px;
}

/* exeptions */
h1{
  font-size: 60px;
  line-height: 79px;
}

h2{
  font: Roboto-Bold;
}

h4{
  font-size: 25px;
  line-height: 33px;
}

h6{
  font: Roboto-lightitalic;
  font-size: 25px;
  line-height: 33px;
}

/* exeptions */

p{
  font-size: 25px;
  color: #46464f;
  line-height: 33px;
}
