@import "main-nav.css";
@import "banner.css";
@import "about.css";
@import "skills.css";
@import "portfolio.css";
@import "contact.css";
@import "footer.css";


body{
  background-color: #ffffff;
}

h1, h2, h3 ,h4, h6{
  text-align: center;
  font-size: 30px;
  color: #808080;
  line-height: 39px;
}

/* exeptions */
h1{
  font: 60px arial, Roboto-Black;
  line-height: 79px;
}

h2{
  font: 20px arial, Roboto-black;
  text-transform: uppercase;
  font-weight: bold;
  color:#111111;
  margin:4% 0 4% 0;
}

h4{
  font-size: 25px;
  line-height: 33px;
}

h6{
  font: 25px arial, Roboto-lightitalic;
  line-height: 33px;
}

/* exeptions */
p{
  font: 25px arial, Roboto-Light;
  line-height: 33px;
  color:#828282;
}

.border {
  border-bottom: solid 7px #83DA4C;
}
